@using Cassette.Nancy
@{
    Bundles.Reference("assets/stylesheets");
    Bundles.Reference("assets/javascripts/header");
    Bundles.Reference("assets/javascripts/libs");
    Bundles.Reference("assets/templates");
    Bundles.Reference("assets/javascripts/app");
}
<!doctype html>
<head>
    <meta charset="utf-8"/>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("header")
</head>
<body>
    <noscript><div style="background-color: red">Javascript must be enabled to used this app.</div></noscript>
    <div id="app">
        Loading App ...
    </div>
    @Bundles.RenderScripts("libs")
    @Bundles.RenderHtmlTemplates()
    @Bundles.RenderScripts("app")
    <script>
        App.initialize({});
    </script>
</body>