@using Cassette.Nancy
@{
    Bundles.Reference("assets/stylesheets/style.less");
    Bundles.Reference("assets/javascripts/header");
    Bundles.Reference("assets/javascripts/libs");
    Bundles.Reference("assets/templates");
    Bundles.Reference("assets/javascripts/app");
}
<!doctype html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("header")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar nvarbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                
                <a class="brand" href="#">
                    Backbone JS on Nancy
                </a>

            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="span12">
                @RenderBody()
                @Bundles.RenderScripts("libs")
                @RenderSection("footer", required: false)
            </div>
        </div>
    </div>
</body>